.list {
  margin: 35px 21px 0;
}

.video {
  min-height: 192px;
  /* background: #c9c9c9; */
}

.video img {
  width: 100%;
}

.workName {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  margin: 24px 0;
  color: #ffffff;
}
