.artistInfo {
  display: flex;
  justify-content: space-between;
  margin: 35px 21px 24px;
}

.avatar {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #d9d9d9;
}

.name,
.des {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}

.arWrapper,
.video {
  height: 192px;
  margin: 0 21px 24px;
  background: #c9c9c9;
}

.video video {
  width: 100%;
}

.workDescription {
  margin: 0 21px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.link {
  background: #fff;
  height: 32px;
  width: 122px;
  border-radius: 12px;
  line-height: 32px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  display: block;
  margin: 40px auto;
}