.artistInfo {
  display: flex;
  justify-content: space-between;
  margin: 35px 21px 24px;
}

.avatar {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #d9d9d9;
}

.name,
.des {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
  white-space: pre-line;
}

.arWrapper,
.video {
  min-height: 192px;
  margin: 0 21px 24px;
  /* background: #c9c9c9; */
}

.video video, .video img {
  width: 100%;
  /* height: 100%; */
}

.workDescription {
  margin: 10px 21px;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  white-space: pre-line;
}

.workDescription h2 {
  margin-bottom: 10px;
}

.link {
  background: #fff;
  height: 32px;
  width: 122px;
  border-radius: 12px;
  line-height: 32px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  display: block;
  margin: 40px auto;
}